<%= render 'layouts/header' %>

<div class="container">
  <div class="text-center">
  <h4>Телефоны по регионам</h4>
  <a class="btn btn-outline-dark btn-sm" data-toggle="collapse" href="#regionsShow" role="button" aria-expanded="false" aria-controls="regionsShow">
    Показать
  </a>
  <div class="collapse" id="regionsShow">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Регион</th>
        <th scope="col">Кол-во номеров</th>
      </tr>
      </thead>
      <tbody>
      <% @regions.sort.each do |region| %>
      <tr>
        <td><%= region %></td>
        <td><%= Number.where(region: region).count %></td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  </div>

    <div class="text-center">
    <%= image_pack_tag '999.png', size: "300x170" %>
    </div>
  <div class="text-center">
    <h3>999.md</h3>
    <p>Всего с данного сайта: <%= @numbers_999 %></p>
  </div>
  <div class="text-center">
  <table class="table table-bordered table-dark">
    <thead>
    <tr>
      <th scope="col">Категория</th>
      <th scope="col">Номеров в базе</th>
      <th scope="col">Действие</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">Бизнес / Действующий бизнес</th>
      <td><%= @current_business_999 %></td>
      <td><%= link_to "Парсинг", current_business_999_path, class: "btn btn-sm btn-outline-warning" %></td>
    </tr>
    <tr>
      <th scope="row">Бизнес / Сайты и разработка</th>
      <td><%= @sites_and_developing_999 %></td>
      <td><%= link_to "Парсинг", sites_and_developing_999_path, class: "btn btn-sm btn-outline-warning" %></td>
    </tr>
    <tr>
      <th scope="row">Недвижимость / Дома и дачи</th>
      <td><%= @houses_and_garden_999 %></td>
      <td><%= link_to "Парсинг", houses_and_garden_999_path, class: "btn btn-sm btn-outline-warning" %></td>
    </tr>
    <tr>
      <th scope="row">Недвижимость / Квартиры и комнаты</th>
      <td><%= @appartaments_and_rooms_999 %></td>
      <td><%= link_to "Парсинг", appartaments_and_rooms_999_path, class: "btn btn-sm btn-outline-warning" %></td>
    </tr>
    <tr>
      <th scope="row">Одежда, обувь и аксессуары / Женская одежда</th>
      <td><%= @woman_clothes_999 %></td>
      <td><%= link_to "Парсинг", woman_clothes_999_path, class: "btn btn-sm btn-outline-warning" %></td>
    </tr>
    <tr>
      <th scope="row">Одежда, обувь и аксессуары / Женская обувь</th>
      <td><%= @woman_shoes_999 %></td>
      <td><%= link_to "Парсинг", woman_shoes_999_path, class: "btn btn-sm btn-outline-warning" %></td>
    </tr>
    <tr>
      <th scope="row">Телефоны и связь / Мобильные телефоны</th>
      <td><%= @mobile_phones_999 %></td>
      <td><%= link_to "Парсинг", mobile_phones_999_path, class: "btn btn-sm btn-outline-warning" %></td>
    </tr>
    <tr>
      <th scope="row">Транспорт / Легковые авто</th>
      <td><%= @passengers_cars_999 %></td>
      <td><%= link_to "Парсинг", passengers_cars_999_path, class: "btn btn-sm btn-outline-warning" %></td>
    </tr>
    <tr>
      <th scope="row">Транспорт / Запчасти и разборка легковых автомобилей</th>
      <td><%= @parts_for_cars_999 %></td>
      <td><%= link_to "Парсинг", parts_for_cars_999_path, class: "btn btn-sm btn-outline-warning" %></td>
    </tr>
    <tr>
      <th scope="row">Транспорт / Запчасти для грузовых автомобилей</th>
      <td><%= @parts_for_trucks_999 %></td>
      <td><%= link_to "Парсинг", parts_for_trucks_999_path, class: "btn btn-sm btn-outline-warning" %></td>
    </tr>
    <tr>
      <th scope="row">Транспорт / Диски и шины</th>
      <td><%= @wheel_and_tires_999 %></td>
      <td><%= link_to "Парсинг", wheel_and_tires_999_path, class: "btn btn-sm btn-outline-warning" %></td>
    </tr>
    <tr>
      <th scope="row">Транспорт / Автобусы и микроавтобусы</th>
      <td><%= @buses_and_minibuses_999 %></td>
      <td><%= link_to "Парсинг", buses_and_minibuses_999_path, class: "btn btn-sm btn-outline-warning" %></td>
    </tr>
    <tr>
      <th scope="row">Транспорт / Грузовые автомобили</th>
      <td><%= @trucks_999 %></td>
      <td><%= link_to "Парсинг", trucks_999_path, class: "btn btn-sm btn-outline-warning" %></td>
    </tr>
    <tr>
      <th scope="row">Транспорт / Прицепы</th>
      <td><%= @trailers_999 %></td>
      <td><%= link_to "Парсинг", trailers_999_path, class: "btn btn-sm btn-outline-warning" %></td>
    </tr>
    <tr>
      <th scope="row">Транспорт / Мотоциклы и мототехника</th>
      <td><%= @motorcycles_999 %></td>
      <td><%= link_to "Парсинг", motorcycles_999_path, class: "btn btn-sm btn-outline-warning" %></td>
    </tr>
    <tr>
      <th scope="row">Транспорт / Мотоэкипировка</th>
      <td><%= @moto_equipment_999 %></td>
      <td><%= link_to "Парсинг", moto_equipment_999_path, class: "btn btn-sm btn-outline-warning" %></td>
    </tr>
    <tr>
      <th scope="row">Транспорт / Гироскутеры, электросамокаты</th>
      <td><%= @electric_scooters_999 %></td>
      <td><%= link_to "Парсинг", electric_scooters_999_path, class: "btn btn-sm btn-outline-warning" %></td>
    </tr>
    <tr>
      <th scope="row">Транспорт / Сельхозтехника</th>
      <td><%= @agriculture_999 %></td>
      <td><%= link_to "Парсинг", agriculture_999_path, class: "btn btn-sm btn-outline-warning" %></td>
    </tr>
    <tr>
      <th scope="row">Транспорт / Спецтехника</th>
      <td><%= @special_equipment_999 %></td>
      <td><%= link_to "Парсинг", special_equipment_999_path, class: "btn btn-sm btn-outline-warning" %></td>
    </tr>

    <tr>
      <th scope="row">Транспорт / Автомагнитолы и DVD</th>
      <td><%= @carcaraudio_999 %></td>
      <td><%= link_to "Парсинг", carcaraudio_999_path, class: "btn btn-sm btn-outline-warning" %></td>
    </tr>
    <tr>
      <th scope="row">Транспорт / GPS, навигация</th>
      <td><%= @gps_navigation_999 %></td>
      <td><%= link_to "Парсинг", gps_navigation_999_path, class: "btn btn-sm btn-outline-warning" %></td>
    </tr>
    <tr>
      <th scope="row">Транспорт / Автоакустика</th>
      <td><%= @acoustic_999 %></td>
      <td><%= link_to "Парсинг", acoustic_999_path, class: "btn btn-sm btn-outline-warning" %></td>
    </tr>
    <tr>
      <th scope="row">Транспорт / Комплектующие автозвука</th>
      <td><%= @supplies_of_car_audio_999 %></td>
      <td><%= link_to "Парсинг", supplies_of_car_audio_999_path, class: "btn btn-sm btn-outline-warning" %></td>
    </tr>
    <tr>
      <th scope="row">Транспорт / Видеорегистраторы</th>
      <td><%= @video_recorders_999 %></td>
      <td><%= link_to "Парсинг", video_recorders_999_path, class: "btn btn-sm btn-outline-warning" %></td>
    </tr>
    <tr>
      <th scope="row">Транспорт / Радары, сигнализация</th>
      <td><%= @radars_alarms_999 %></td>
      <td><%= link_to "Парсинг", radars_alarms_999_path, class: "btn btn-sm btn-outline-warning" %></td>
    </tr>
    <tr>
      <th scope="row">Транспорт / Велотранспорт</th>
      <td><%= @bicycles_999 %></td>
      <td><%= link_to "Парсинг", bicycles_999_path, class: "btn btn-sm btn-outline-warning" %></td>
    </tr>
    <tr>
      <th scope="row">Транспорт / Водный транспорт</th>
      <td><%= @snowmobiles_and_jet_ski_999 %></td>
      <td><%= link_to "Парсинг", snowmobiles_and_jet_ski_999_path, class: "btn btn-sm btn-outline-warning" %></td>
    </tr>
    <tr>
      <th scope="row">Транспорт / Воздушный транспорт</th>
      <td><%= @airplanes_999 %></td>
      <td><%= link_to "Парсинг", airplanes_999_path, class: "btn btn-sm btn-outline-warning" %></td>
    </tr>
    </tbody>
  </table>
  </div>
</div>